/* Color Scheme */

/* Sidebar CSS */
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.sidebar-container {
  /* flex: 0.3; */
  display: flex;
  flex-direction: column;
  /* background-color: white; */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  /* border-right: 1px solid #dddedd; */
}

.Header-light {
  display: flex;
  justify-content: space-between;
  background-color: #f0f2f5;
  border-top-left-radius: 20px;
  padding: 10px 16px;
  /* border-top-left-radius: 20px; */
}

.Header-dark {
  display: flex;
  justify-content: space-between;
  background-color: #131b20;
  border-top-left-radius: 20px;
  padding: 10px 16px;
  /* border-top-left-radius: 20px; */
}

.icon {
  color: #54656f;
  transform: scale(1.5);
  padding: 8px;
}

.Search-light {
  padding: 10px 16px;
  background-color: white;
}

.Search-dark {
  padding: 10px 16px;
  background-color: #131b20;
}

.search-container-light {
  display: flex;
  align-items: center;
  background-color: #f0f2f5;
  border-radius: 10px;
  padding: 5px;
  padding-left: 20px;
}

.search-container-dark {
  display: flex;
  align-items: center;
  background-color: #f0f2f5;
  border-radius: 10px;
  padding: 5px;
  padding-left: 20px;
}

.inputBox {
  border: none;
  background-color: #f0f2f5;
  outline-width: 0px;
  padding-left: 20px;
  /* No rectangular highlight */
}

.Conversations-light {
  height: 100%;
  background-color: white;
  border-bottom-left-radius: 20px;
}

.Conversations-dark {
  height: 100%;
  background-color: #131b20;
  border-bottom-left-radius: 20px;
}

.group {
  background-color: #dfe5e7;
  border-radius: 50%;
  color: white;
}

.sideBarItem-container {
  /* border-top: 1px solid #dfe5e7; */
  /* border-bottom: 1px solid #dfe5e7; */
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
}

.sideBarItem-container:hover {
  background-color: #f0f2f5;
}

.sideBarItem-container:active {
  background-color: white;
}

.group-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfe5e7;
  color: #57646e;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0;
}

.line-one {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.info-elements {
  flex: 1;
  margin-left: 15px;
}

.group-name-light {
  font-size: 17px;
}

.group-name-dark {
  font-size: 17px;
  color: #54656f;
}

.last-seen-light {
  font-size: 12px;
  font-weight: lighter;
}

.last-seen-dark {
  font-size: 12px;
  font-weight: lighter;
  color: #54656f;
}

.last-message-light {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.last-message-dark {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  color: #54656f;
}
/* Chat-container CSS */

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-header-light {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f2f5;
  padding: 10px 16px;
}

.chat-header-dark {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131b20;
  padding: 10px 16px;
}

.top-right {
  border-top-right-radius: 20px;
}

.bottom-right {
  border-bottom-right-radius: 20px;
}

.flex {
  display: flex;
  align-items: center;
}

.group-icon2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfe5e7;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0;
  margin-right: 20px;
}

.group-name2-light {
  font-size: 17px;
}

.group-name2-dark {
  font-size: 17px;
  color: #54656f;
}

.text-area-light {
  /* background-image: url(../images/9406224_26669.jpg); */
  background-color: white;
  flex: 1;
}

.text-area-dark {
  /* background-image: url(../images/9406224_26669.jpg); */
  background-color: #131b20;
  flex: 1;
}

.input-box {
  width: 100%;
  outline-width: 0px;
  border: none;
  font-size: 17px;
  background-color: white;
}

.input-box-container {
  background-color: white;
  padding: 10px;
  width: 100%;
  flex: 1 0 0;
  border-radius: 10px;
}

.message-box {
  display: flex;
  flex-direction: column;
}

.userMessage-container {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: 5px;
  margin-top: 5px;
}

.message-box {
  background-color: #dfe5e7;
  padding: 5px;
  border-radius: 10px;
}

.message-box-right {
  display: flex;
  flex-direction: column;
  background-color: #00a884;
  padding: 5px;
  border-radius: 10px;
  margin-right: 10px;
}

.othersMessage-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: 5px;
}

.chat-userName {
  font-size: 12px;
  font-weight: 500px;
  padding: 5px;
}

.chat-message {
  font-size: 14px;
  padding: 5px;
  font-weight: 400;
}

.chat-timeStamp {
  font-size: 11px;
  align-self: flex-end;
  font-weight: lighter;
}

.chat-userIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfe5e7;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0;
  margin-right: 10px;
}

.login-container {
  background-color: #dfe5e7;
}

.login-container {
  display: flex;
  align-items: center;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.logo {
  height: 10vh;
  width: 10vw;
}

.chat-name-input {
  padding: 0;
  padding-left: 10px;
  border: none;
  outline-width: 0px;
  background-color: #dfe5e7;
  font-size: 20px;
}

.enter-button {
  font-size: 5vw;
  padding: 20px;
  border: none;
  border-radius: 20px;
  color: #dfe5e7;
  background-color: #00a884;
}

.enter-button:hover {
  background-color: #25ba9a;
}

.welcome-contaioner-light {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  flex: 1;
  border-bottom: 10px solid #00a884;
  padding: 10px;
}

.welcome-contaioner-dark {
  background-color: #131b20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  flex: 1;
  border-bottom: 10px solid #00a884;
}

.logo2 {
  height: 20vh;
  width: 20vw;
}

.welcomeText {
  font-size: 3rem;
  font-weight: 300;
  color: #54656f;
  padding-top: 50px;
  padding-bottom: 50px;
}

.welcomeParagraph {
  color: #54656f;
}

/* Online Users */

.onlineUsersContainer-light {
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.onlineUsersContainer-dark {
  background-color: #131b20;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.availGroupContainer-light {
  background-color: white;
  border-radius: 20px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.availGroupContainer-dark {
  background-color: #131b20;
  border-radius: 20px;
  box-shadow: 20px 20px 60px #000000, -20px -20px 60px #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.onlineUsers {
  flex: 0.5;
  background-color: white;
  margin: 50px;
  margin-left: 10px;
  border-radius: 20px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title-text {
  font-size: 17px;
  color: #54656f;
}
/* CreateGroup */

.createGroup-container-light {
  flex: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
}

.createGroup-container-dark {
  flex: 1;
  background-color: #131b20;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
}

.groupInputContainer-light {
  background-color: white;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.groupInputContainer-dark {
  background-color: #131b20;
  box-shadow: 20px 20px 60px #000000, -20px -20px 60px #000000;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.group-name-input-light {
  padding: 0;
  border: none;
  outline-width: 0px;
  background-color: white;
  font-size: 20px;
}

.group-name-input-dark {
  padding: 0;
  border: none;
  outline-width: 0px;
  background-color: #131b20;
  font-size: 20px;
}

.chat-create-button {
  font-size: 15px;

  padding: 20px;
  border: none;
  border-radius: 20px;
  color: #dfe5e7;
  background-color: #25ba9a;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-left {
  margin-left: 10px;
}

.align-items-start {
  align-self: flex-start;
}

.join-group-button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #25ba9a;
  margin-left: 10px;
  justify-self: flex-end;
  font-weight: bolder;
}

.join-group-button:hover {
  background-color: #00a884;
}

.join-group-button:active {
  background-color: #25ba9a;
}

.groupList-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
}

.groupList-container:hover {
  background-color: #f0f2f5;
}

@media all and (min-width: 320px) and (max-width: 480px) {
  .Conversations-dark {
    display: none;
  }
  .Conversations-light {
    display: none;
  }
  .Search-light {
    display: none;
  }
  .Search-dark {
    display: none;
  }

  .Header-light {
    flex: 1;
    padding: 0;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    justify-content: flex-start;
    padding-top: 40px;
    gap: 20px;
  }
  .Header-dark {
    flex: 1;
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom-left-radius: 20px;
    padding-top: 40px;
    gap: 20px;
  }
  .other-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
